@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Righteous&family=Roboto:wght@300;400;500;700&family=Sedgwick+Ave+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  word-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input {
  border: 0;
  outline: 0;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(124, 124, 124);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 77, 77);
}